*{
  margin: 0;
  padding: 0;
  font-family: 'Times New Roman', Times, serif;
}
body{
  width: 100%;
  height: 100%;
}

.navbar{
  height: 50px;
  width: 97.5%;
  background-color: rgb(65, 65, 77);
  display: inline-block;
  display: flex;
  padding-left: 20px;
  align-items: center;
  position: fixed;

}
.spotifylogo{
  height: 40px;
  width: 40px;
  border: 2px solid white;
  background-image: url("spotify.svg" );
  background-position: center;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: aliceblue;
  margin-right: 300px;
  border-radius: 10px;
  cursor: pointer;
  
}
.homelogo{
  height: 40px;
  width: 40px;
  background-image: url("house-door.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
 background-color:white;
  margin-right: 40px;
  border: 2px solid white;
  border-radius: 50%;
  cursor: pointer;
  
}

#search{
  height: 40px;
  width: 90px;
   border-radius: 20px;
   margin-right: 140px;
   cursor: pointer;
   font-weight: bolder;
   border: 2px solid black;
  
}
#login{
  height: 40px;
  width: 90px;
   border-radius: 20px;
   cursor: pointer;
   font-size: medium;
  font-weight: bolder;
  border: 2px solid black;
  
}
.signup{
  height: 30px;
  font-size: 20px;
  margin-right: 80px;
  cursor: pointer;
}
input{
  color: white;
  border: 2px solid black;
}
::placeholder{
  font-size: 20px;


}
main{
  height: 800px;
  width: 99%;
  padding-top: 50px;

  display: flex;
  
}
.container1{

  height: 100%;
  width: 25%;
  background-color: rgb(39, 41, 41);
  border: 2px solid white;
  
  position: fixed;
  padding-top: 6px;
  

}
.container2{
  height: 100%;
  width: 80%;
  background-color: rgb(39, 41, 41);
  padding-bottom: 100px;
  
  margin-left: 320px;
  padding-top: 6px;
  margin-top: 3px;
  
}
.yourlibrary{
  text-align: center;
  margin-left: 40px;
  font-size: 20px;
  
}
.playlist{
  height: 140px;
  width: 88%;
  background-color: rgb(35, 35, 36);
  border-radius: 20px;
  margin-left: 20px;
  margin-top: 20px;
  align-items: left;
  gap: 5px;

}
.firstplaylist{
  color: white;
  text-align: center;
  margin-top: 70px;
  padding-top: 20px;
  
}
.easy{
  color: white;
  text-align: center;
}
.createplaylist{
  width: 60%;
  height: 40px;
  margin-top: 30px;
  margin-left: 50px;
  border-radius: 30px;
  font-size: medium;
  font-weight: bolder;
  border: 2px solid black;
  cursor: pointer;

  transition: all;
  transition-duration: 0s;
  transition-delay: 0s;
  transition-timing-function: ease-out;
}
.createplaylist:hover{
box-shadow: 1px 1px 1px 1px white;
font-size: 18px;
}
.cookies{
  margin-left: 15px;
  margin-top: 70px;
  margin-inline-start: 30px;
  margin-left: 30px;
  margin-right: 20px;
  
}
a{
  text-decoration: none;
  color: white;
  margin-right: 20px;
  
}
.english{
  width: 60%;
  height: 40px;
  margin-top: 90px;
  margin-left: 50px;
  border-radius: 30px;
  border: 2px solid black;
  font-size: medium;
  font-weight: bolder;
  background-color: rgb(49, 47, 47);
  color: white;
  cursor: pointer;
  transition: all;
  transition-duration: 0s;
  transition-delay: 0s;
  transition-timing-function: ease-out;
}
.english:hover{
box-shadow: 1px 1px 1px 1px white;
font-size: 18px;
}

.popular{
  display: inline;
  margin-right: 200px;
  margin-left: 70px;
  color: white;
  
}
.showall{
  display: inline;
  margin-left: 300px;
  color: white;
  cursor: pointer;
}
.pics1{
  height: 40%;
  width: 95%;
  
  margin-left: 10px;
  margin-top: 10px;
  display: flex;
  justify-content: space-evenly;
}
.pic1{
  height: 100%;
  width: 25%;

}
.atif{
  width: 90%;
  height: 70%;
  
  margin-top: 5px;
  margin-left: 3px;
  align-self: center;
  background-image: url("AtifAslam-(1)-(1)1708758790-0.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 50%;
  transition: all;
  transition-duration: 3s;
  transition-delay: 1s;
  transition-timing-function: ease-in;
  cursor: pointer;
}
#atif{
  width: 90%;
  height: 70%;
  
  margin-top: 5px;
  margin-left: 3px;
  align-self: center;
  background-image: url("1images.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 10%;
  transition: all;
  transition-duration: 3s;
  transition-delay: 1s;
  transition-timing-function: ease-in;
  cursor: pointer;
}
.atifasslam{
  color: white;
  margin-top: 10px;
  margin-left: 20px;
  cursor: pointer;
}
.pic1:hover{
  box-shadow: 5px 5px 5px 5px black;
  background-color: rgb(78, 70, 70);
  border-radius: 8px;
}
.artist{
  color: white;
  
  margin-left: 20px;
}

.pic2{
  height: 100%;
  width: 25%;
  
}
.arjit{
  width: 90%;
  height: 70%;
  
  margin-top: 5px;
  margin-left: 3px;
  align-self: center;
  background-image: url("Arijit_Singh_002_20230323062147_500x500.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 50%;
  transition: all;
  transition-duration: 3s;
  transition-delay: 1s;
  transition-timing-function: ease-in;
  cursor: pointer;
}
#arjit{
  width: 90%;
  height: 70%;
  
  margin-top: 5px;
  margin-left: 3px;
  align-self: center;
  background-image: url("1275x1275bb-60.webp");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 10%;
  transition: all;
  transition-duration: 3s;
  transition-delay: 1s;
  transition-timing-function: ease-in;
  cursor: pointer;
}
.arjitsingh{
  color: white;
  margin-top: 10px;
  margin-left: 20px;
  
  cursor: pointer;
}
.pic2:hover{
  box-shadow: 5px 5px 5px 5px black;
  background-color: rgb(78, 70, 70);
  border-radius: 8px;
}

.pic3{
  height: 100%;
  width: 25%;
  
}
.dontknow{
  height: 70%;
  width: 90%;
  
  margin-top: 5px;
  margin-left: 3px;
  align-self: center;
  background-image: url("kiss925.com_.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 50%;
  transition: all;
  transition-duration: 3s;
  transition-delay: 1s;
  transition-timing-function: ease-out;
  cursor: pointer;
}
#dontknow{
  height: 70%;
  width: 90%;
  
  margin-top: 5px;
  margin-left: 3px;
  align-self: center;
  background-image: url("karan-ahuj.webp");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 10%;
  transition: all;
  transition-duration: 3s;
  transition-delay: 1s;
  transition-timing-function: ease-out;
  cursor: pointer;
}
.Unknown{
  color: white;
  margin-top: 10px;
  margin-left: 20px;
  cursor: pointer;
}
.pic3:hover{
  box-shadow: 5px 5px 5px 5px black;
  background-color: rgb(78, 70, 70);
  border-radius: 8px;
}
.pic4{
  height: 100%;
  width: 25%;

}
.ibrar{
  width: 90%;
  height: 70%;
  
  margin-top: 5px;
  margin-left: 3px;
  align-self: center;
  background-image: url("download (2).jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 50%;
  transition: all;
  transition-duration: 3s;
  transition-delay: 1s;
  transition-timing-function: ease-out;
  cursor: pointer;
}
#ibrar{
  width: 90%;
  height: 70%;
  
  margin-top: 5px;
  margin-left: 3px;
  align-self: center;
  background-image: url("5bd1323690f00-wallpaper-preview.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 10%;
  transition: all;
  transition-duration: 3s;
  transition-delay: 1s;
  transition-timing-function: ease-out;
  cursor: pointer;
}
.ibrarahmed{
  color: white;
  margin-top: 10px;
  margin-left: 20px;
  cursor: pointer;
}
.pic4:hover{
  box-shadow: 5px 5px 5px 5px black;
  background-color: rgb(78, 70, 70);
  border-radius: 8px;
}
.pics3{
  height: 40%;
  width: 95%;
  
  margin-left: 10px;
  margin-top: 10px;
  display: flex;
  justify-content: space-evenly;
  background-color: rgb(78, 70, 70);
}
footer{
  height: 300px;
  width: 99%;
  

  
  
}
.footer{
  height: 100%;
  width: 74.4%;
  background-color: rgb(39, 41, 41);
  margin-top: 3px;
  padding-bottom: 120px;
  margin-left: 320px;
  display: flex;
  justify-content: space-evenly;
  
}
ul{
background-color:  rgb(39, 41, 41);
width: 100%;
height: 200px;
  font-size: 20px;
  font-weight: bolder;
  padding-top: 40px;
  padding-left: 20px;
  text-decoration: none;
  margin-top: 400px;
  text-decoration-line: none;
}
li{
  color: white;
  cursor: pointer;
  text-decoration: none;
  margin-left: 30px;}
h3{
  margin-bottom: 10px;
  color: white;
  
}
h3:hover{
  text-decoration: underline;
}
li:hover{
  text-decoration: underline; 
}
a:hover{
  text-decoration: underline; 
}
